@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
    .main-menu-list-item
        color: #fff
        font-size: 14px
        margin-left: 12px
    .our-team-descriptor-signa
        margin-top: 70px
    .our-team-descriptor-text
        font-size: 24px
    .designers-card-description
        font-size: 16px
    .designers-card-title
        margin-bottom: 9px
        font-size: 32px
    .first-designer-card
        padding: 15px 125px 15px 15px
        width: 423px
        height: 203px
        line-height: 1.2
        & img
            right: -80px
            width: 100%
            max-width: 215px
    .second-designer-card
        padding: 15px 67px 15px 15px
        width: 374px
        height: 204px
        margin-left: 40px
        line-height: 1.2
        & img
            right: -80px
            width: 100%
            max-width: 221px
    .our-partners-area img
        width: 70%
        margin: 10px auto
    .our-partners-title
        font-size: 30px
    .about-merchant-image
        max-width: 478px
    .about-merchant-description
        padding: 12px
        & p
            max-width: 380px
            font-size: 21px
            line-height: 110%
    .why-need-merch-section
        margin-top: 20px
    .display-none
        display: none


// ≥992px
+media-breakpoint-down(md)
    .how-choose-marged-row
        margin-left: 0
    .main-header-slide
        height: 100vh
        min-height: 500px

    .main-menu-banner-area
        font-size: 45px
        padding: 0 20px
    .modal-contact-form
        width: 100%
        max-width: 510px
        padding: 30px
    .modal-title
        font-size: 34px
    .text-input
        height: 60px
        padding-left: 15px
        font-size: 16px
    .checkbox-description
        font-size: 16px
    .form-button
        width: 215px
        height: 60px
        font-size: 16px

    .h2
        font-size: 34px
    .h1
        font-size: 45px
    p
        font-size: 16px
    .about-style-section
        padding: 80px 0 100px 0
    .blue-button
        max-width: 540px
    .blue-area
        margin-top: 20px
    .form-subtitle
        font-size: 20px

    .steps-card-header-description
        font-size: 20px
    .steps-card-description
        font-size: 13px
    .steps-card-header
        margin-bottom: 30px
    .steps-card
        padding-left: 40px
        width: 100%
        max-width: 260px
    .left-table-title
        font-size: 18px
        display: none

    .table-comparison td
        font-size: 14px
        padding: 10px
    .table-header-title
        font-size: 30px
        padding: 0 20px
    .desktop-hidden-row
        display: table-row
        background: $accent
        width: 100%
        font-size: 20px
        & th
            padding: 5px 10px
            font-family: '20Kopeek-Book', sans-serif
            color: #ffffff
            font-weight: 200
            font-size: 18px
    .last-guarantee-card
        width: 100%
        max-width: 420px
    .guarantee-wrapper
        padding-top: 32px
    .guarantee-section
        margin: 100px 0
        min-height: 100%
    .our-smi-card
        width: 253px
        min-height: 131px
    .cost-img
        margin-bottom: 25px
    .main-menu-banner-subtitle
        font-size: 16px
    .form-title-big
        font-size: 34px
    .portfolio-card-thumb
        height: 190px
    .main-menu-list-item
        display: none
    .how-choose-title
        font-size: 34px
        & span
            font-size: 45px
    .how-choose-card-title
        font-size: 22px

    .our-team-descriptor-row
        margin-top: 55px
    .our-team-descriptor-text
        font-size: 22px
        line-height: 1.1
    .our-team-descriptor-signa
        margin-top: 35px

    .designers-card-description
         font-size: 14px
    .designers-card-title
        margin-bottom: 0
        font-size: 34px
        color: $accent
        position: absolute
        top: -50px
    .first-designer-card
        padding: 6px 100px 6px 6px
        width: 315px
        height: 155px
        line-height: 1.3
        & img
            right: -65px
            width: 100%
            max-width: 182px
    .second-designer-card
        padding: 6px 65px 6px 6px
        width: 278px
        height: 155px
        margin-left: 30px
        line-height: 1.3
        & img
            right: -72px
            width: 100%
            max-width: 186px
    .our-partners-title
        font-size: 22px
    .main-menu-banner-description span
        font-size: 41px

    .scrolled-img.part-1
        display: none !important
    .scrolled-img.part-2
        display: none !important
    .scrolled-img.part-3
        display: none !important
        width: 100%
    .scroll-second-row
        margin-top: 30px
    .how-work-scroll-section
        padding: 0
    .main-menu-banner-description span
        padding: 18px 25px

    .steps-presentation .steps-card-title
        font-size: 17px

    .steps-presentation .steps-card
        padding-left: 0
    .steps-card-extra-title
        font-style: normal
        font-weight: 400
        font-size: 28px
        position: absolute
        top: -41px
    .scroll-second-row
        margin-top: 0
        padding-bottom: 60px
    .how-work-scroll-description
        margin-top: 25px
    .hidden-area-image
        display: block
        margin: 15px auto 10px
        & img
            width: 100%
            max-width: 433px
    .about-merchant-section
        padding-top: 80px
        padding-bottom: 60px
    .about-merchant-image
        max-width: 400px
        right: -100px
    .about-merchant-description p
        font-size: 18px
        line-height: 1.2
    .about-merchant-subtitle
        font-size: 18px
        line-height: 120%
    .why-need-merch-section
        margin-bottom: 80px
    .why-need-card-title-row
        position: absolute
        max-width: 361px
        left: 0
    .why-need-card
        position: relative
    .why-need-card-title-text
        font-size: 22px
        line-height: 110%
    .why-need-card-image
        margin-right: 20px
        width: 45px
        height: 60px
    .merchant-slider-section
        margin-top: 80px
// ≥768px
+media-breakpoint-down(sm)
    .main-menu-banner-description span
        font-size: 40px


    .form-title-big
        font-size: 32px
    .main-menu-contacts
        display: none
    .menu-burger
        display: block

    .main-menu-banner-area
        font-size: 40px
    .h1
        font-size: 45px
    .about-style-section
        padding: 60px 0 90px 0
    .about-style-image
        margin-bottom: 20px
    .consist-description
        font-size: 16px

    .blue-button
        max-width: 585px
        font-size: 16px
    .portfolio-card-row
        flex-direction: column
    .gallery-button
        margin: 15px 0
        height: 60px

    .portfolio-card-title
        font-size: 45px
    .portfolio-card-description
        font-size: 16px
    .portfolio-card
        padding-bottom: 40px
    .cost-section
        padding-bottom: 80px
    .steps-card
        padding-left: 0
    .steps-card-header-title
        position: static
        padding-left: 0
    .steps-card-header
        padding-left: 0
    .steps-section
        padding-top: 80px
    .steps-row
        margin-top: 60px

    .table-header-title
        font-size: 26px
        padding: 0 10px
    .table-comparison td
        font-size: 12px
    .comparison-section
        padding-top: 70px
    .desktop-hidden-row th
        font-size: 14px
    .guarantee-card
        width: 100%
        max-width: 100%
        padding-left: 50px
    .guarantee-card-description
        font-size: 14px
    .guarantee-card-title
        font-size: 35px
    .guarantee-section
        margin: 80px 0
    .contact-area-wrapper
        margin-top: 50px
    .contact-area a
        margin-bottom: 10px
    .our-smi-section
        margin-top: 80px
        margin-bottom: 80px
    .privacy-row p
        font-size: 15px
    .our-smi-card
        width: 220px
        min-height: 100%
    .form-button
        margin-top: 10px
    .mobile-show
        display: flex !important
    .mobile-hide
        display: none !important
    .check-box-label.mobile-show
        padding-left: 25px
    .check-box-label.mobile-show
        padding-left: 25px
        margin-left: 15px
    .about-style-section
        max-width: 492px
    .consist-description-title
        font-size: 22px
    .portfolio-card-thumb
        height: 215px
    .steps-card
        margin-top: 16px
    .main-menu-banner-description-white
        font-size: 38px
    .how-start-choose-section
        margin-bottom: 60px
        max-width: 492px
    .how-choose-title
        font-size: 30px

        padding-left: 30px
        & span
            font-size: 35px
            top: -2px
    .our-team-descriptor-text
        margin-top: 20px
    .our-team-descriptor-signa
        max-width: 100%
        margin-top: 20px
    .mobile-row-reverse
        flex-direction: column-reverse
        display: flex
    .designers-card-title
        font-size: 32px
        top: -40px
    .designers-card-description
        font-size: 12px
    .first-designer-card
        padding: 8px 80px 8px 8px
        width: 257px
        height: 157px
        line-height: 1.3
        & img
            right: -55px
            width: 100%
            max-width: 154px
    .second-designer-card
        padding: 8px 85px 8px 8px
        width: 257px
        height: 141px
        margin-left: 0
        line-height: 1.3
        margin-top: 60px

        & img
            right: -72px
            width: 100%
            max-width: 175px


    .our-team-img
        margin-bottom: 20px
    .our-team-designers-row
        margin-top: 60px
    .bradcrumbs
        padding-top: 100px
    .steps-card-extra-title
        font-size: 29px
        top: -25px
    .wow-section
        padding: 50px 0 30px 0
    .steps-presentation .steps-card-header-title img
        position: relative
        top: 0
    .about-merchant-description p
        max-width: 300px
        font-size: 16px
    .about-merchant-image
        max-width: 320px
    .about-merchant-subtitle
        font-size: 16px
        max-width: 320px
    .why-need-card-title-row
        position: static
        max-width: 361px

    .why-need-card
        position: relative
    .why-need-card-title-text
        font-size: 18px
        line-height: 110%
    .why-need-row
        flex-direction: column
    .why-need-card.right-card
        margin-top: 50px
    .why-need-card-title-bottom
        font-size: 14px
        min-width: 10px
    .why-need-card-title-bottom.margin-right
        margin-right: 15px
    .consist-description.small
        width: 100%
// ≥576px
+media-breakpoint-down(xs)
    .steps-card-header-title img
        max-width: 90px

    .main-menu-banner-subtitle
        padding: 10px 0 0 0
    .main-header-slide
        min-height: 690px
    body label.check-box-label
        align-items: flex-start
    .mobile-menu li
        font-size: 25px
        margin-bottom: 10px

    .main-menu-banner-area
        top: 25vh
    .main-menu-banner-area span
        font-size: 19px
        padding: 10px 15px
        &:last-child
            position: relative
            top: -45px

            z-index: 5
            padding-top: 0

        &:nth-child(5)
            position: relative
            top: -20px

            z-index: 2

        &:nth-child(1)
            position: relative
            top: 25px

        &:nth-child(3)
            position: relative
            top: 3px

            z-index: 3
            padding-top: 3px
    .main-menu-banner-buttons
        flex-direction: column
        margin-top: 0
        & a
            margin-top: 15px
    .h2
        font-size: 32px
    .h1
        font-size: 35px
    .consist-row
        padding-top: 45px
        flex-direction: column
        flex-wrap: wrap
    .consist-description
        padding-left: 50px
    .consist-description-full
        padding-left: 70px
    .cost-p
        padding-right: 0
    .portfolio-card-title
        font-size: 35px
    .portfolio-card-row
        margin-top: 30px
    .gallery-button
        height: 50px
    .fancybox-caption__body
        max-height: 170px
        font-size: 12px
    .table-comparison
        display: none
    .desktop-hidden
        display: block
    .contact-area a
        font-size: 20px
    .our-smi-card
        width: 100%
    .logo-description
        color: #fff
        font-size: 12px
        margin-left: 9px
        width: 160px
        min-width: 160px
    .consist-card
        width: 230px
        margin-bottom: 50px
    .consist-title
        top: -28px
    .comparison-section
        display: none
    .guarantee-section
        display: none
    .contact-section
        padding-top: 0

    .guideline-section
        padding: 100px 0 0 0
    .contact-area-wrapper
        margin-bottom: 50px

    .main-header-slide
        background-position: center top

    .main-header-slide.slide-1
        background-image: url('../img/1mob.jpg')
    .main-header-slide.slide-2
        background-image: url('../img/2mob.jpg')
    .main-header-slide.slide-3
        background-image: url('../img/3mob.jpg')

    .main-header-slide.slide-4
        background-image: url('../img/suvenir-img/1mob.jpg')
    .main-header-slide.slide-5
        background-image: url('../img/suvenir-img/2mob.jpg')
    .main-header-slide.slide-6
        background-image: url('../img/suvenir-img/3mob.jpg')


    .main-header-slide.slide-7
        background-image: url('../img/presentation-img/1mob.jpg')
    .main-header-slide.slide-8
        background-image: url('../img/presentation-img/2mob.jpg')
    .main-header-slide.slide-9
        background-image: url('../img/presentation-img/3mob.jpg')
    .main-header-slide.slide-10
        background-image: url('../img/merch-img/1mob.jpg')
    .main-header-slide.slide-11
        background-image: url('../img/merch-img/2mob.jpg')
    .main-header-slide.slide-12
        background-image: url('../img/merch-img/3mob.jpg')

    .our-smi-section
        margin-top: 80px
        margin-bottom: 25px
    .copy
        padding-top: 36px
    .about-style-blue-area
        font-size: 20px
    .form-title-big
        font-size: 20px

    .portfolio-card-thumb
        height: 185.48px
    .arrow-line:after
        position: absolute
        right: -10px
    .portfolio-card
        max-width: 420px
        margin: 0 auto
    .consist-section
        padding-bottom: 50px
    .briff-section
        margin-top: 40px
    .upper-button
        right: 20px
        bottom: 30px
    .mobile-show-button
        display: flex
        margin: 30px auto 10px
    .hidden-mobile-gallery
        display: none
    .main-menu-banner-description-white
        font-size: 28px
    .how-choose-card
        padding-left: 90px
        position: relative
        margin-top: 30px
    .our-team-descriptor-text
        font-size: 20px
    .our-team-descriptor-signa
        font-size: 16px
    .about-merchant-description
        padding-top: 100px
        margin-left: 0
    .about-merchant-description p
        max-width: 100%
        font-size: 16px
    .about-merchant-image
        object-fit: contain
        position: relative
        right: 0
        top: 90px
        width: 241px
        height: 271px
        margin: -90px auto 0
    .why-need-card-title-row
        flex-direction: column
    .why-need-card-title-bottom.margin-right
        margin-bottom: 20px
    .why-need-card-title-row
        display: flex
        max-width: 150px
        width: 100%
    .consist-card.big
        width: 100%
    .portfolio-card a
        overflow: hidden
        height: 200px
        width: 100%
        display: block


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
