@import vars
@import fonts
@import libs

::placeholder
    color: #868686

::selection
    background-color: $accent
    color: #ffffff

input, textarea, select
    outline: none
    color: #bcbcbc

    &:required:valid
        border-color: #07807e

body
    font-size: 18px
    min-width: 360px
    position: relative
    line-height: 1.3
    font-family: '20Kopeek', sans-serif
    font-weight: 400
    overflow-x: hidden
    color: $text

p
    line-height: 1.4

.upper-button
    background: url("../img/upper.svg")no-repeat center center
    width: 35px
    height: 35px
    position: fixed
    right: 40px
    bottom: 40px
    display: none
    z-index: 9999

.main-header-slide
    min-height: 100%
    height: 100vh
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    position: relative

    &:focus
        outline: none

.main-header-slider
    position: relative

.main-header
    position: relative
.main-header.vh100
    position: relative
    min-height: 100%
    height: 100vh
.main-menu
    position: absolute
    z-index: 1010
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    height: 90px
.main-menu-list
    display: flex
    list-style-type: none
    padding: 0
    margin: 0
.main-menu-list-item
    color: #fff
    font-size: 15px
    margin-left: 15px
    transition: all ease-in .3s
    &:hover
        color: #2b59c3
        text-decoration: none
        transition: all ease-in .3s
.main-menu-list.dark li a
    color: #000
.mobile-men.dark   li a
    color: #000
.main-menu-container
    max-width: 1170px
    width: 100%
    height: 100%
    margin: 0 auto
    position: relative


.logo-description
    color: #fff
    font-size: 14px
    line-height: 14px
    margin-left: 22px
.logo
    display: flex
    align-items: center

.main-menu-phone
    display: flex
    width: 204px
    height: 36px
    font-size: 16px
    color: #ffffff
    align-items: center
    justify-content: center
    border: 1px solid #ffffff
    border-radius: 20px
    text-align: center
    transition: all ease-in .2s
    &:hover
        transition: all ease-in .2s
        color: #ffffff
        text-decoration: none
        opacity: .5
.main-menu-mail
    display: flex
    width: 204px
    height: 36px
    font-size: 16px
    color: #ffffff
    align-items: center
    justify-content: center
    border: 1px solid #ffffff
    border-radius: 20px
    text-align: center
    transition: all ease-in .2s
    margin-left: 15px
    &:hover
        transition: all ease-in .2s
        color: #ffffff
        text-decoration: none
        opacity: .5
.main-menu-mail.dark
    border: 1px solid #000
    &:hover
        color: #000
        text-decoration: none
.main-menu-phone.dark
    border: 1px solid #000
    &:hover
        color: #000
        text-decoration: none

.main-menu-contacts
    display: flex
    align-items: center

.main-menu-social
    display: flex
    align-items: center

    & a
        display: block
        margin-left: 23px
        transition: all ease-in .2s
        &:hover
            opacity: .5
            transition: all ease-in .2s

.main-menu
    padding: 0 20px

.menu-burger
    background: url("../img/burger.png") no-repeat center center / cover
    width: 30px
    height: 18px
    position: fixed
    right: 30px
    top: 32px
    z-index: 1100
    display: none
.menu-burger.white
    background: url("../img/burger-white.png") no-repeat center center / cover
.hidden-menu
    height: 100vh
    width: 0
    position: fixed
    z-index: 1100
    top: 0
    right: -100%
    background-color: #fff
    padding: 30px 40px
    opacity: 1
    transition: all 0.5s

.show-menu
    right: 0
    width: 100%

.close-button
    background: url("../img/close.svg") no-repeat center center
    width: 31px
    height: 31px
    display: block
    position: absolute
    right: 30px
    top: 32px

.hidden
    display: none !important

.mobile-menu
    margin-top: 100px
    padding: 0
    list-style-type: none

    & li
        font-size: 35px
        margin-bottom: 15px

        & a
            color: $text

            &:hover
                color: $text
                text-decoration: none

.no-scroll
    overflow: hidden !important

.mobile-menu-contact
    font-size: 20px
    margin-top: 30px

    & a
        color: $text
        display: block

.mobile-menu-social a
    margin-right: 10px

.hidden-menu-content
    display: flex
    flex-direction: column
    border: 1px solid transparent
    justify-content: space-between
    height: 100%
    padding-bottom: 60px

.main-menu-banner-area
    display: block
    position: absolute
    z-index: 1000
    top: 30vh
    padding: 0 20px


.main-menu-banner-description
    position: relative
    & span
        background: white
        border-bottom-right-radius: 10px
        border-top-right-radius: 10px
        padding: 10px 25px
        line-height: 1
        font-size: 50px
        font-family: '20Kopeek-Book', sans-serif
    & span:nth-child(3)
        padding-top: 0
    & span:nth-child(5)
        padding-top: 0
    & span:nth-child(7)
        padding-top: 0


.main-menu-banner-description
    & span:first-child
        border-top-left-radius: 10px

    & span:last-child
        border-bottom-left-radius: 10px

.button-main-style
    display: flex
    min-width: 215px
    width: 215px
    align-items: center
    justify-content: center
    color: $text
    font-size: 18px
    height: 60px
    background: #ffffff
    border-radius: 40px
    transition: all 0.2s ease-in-out

    &:hover
        text-decoration: none
        transition: all 0.2s ease-in-out
        background: $accent
        color: #ffffff
.main-menu-banner-subtitle
    font-family: '20Kopeek-Book', sans-serif
    padding: 25px 0 10px 0
    color: #ffffff
    font-size: 26px

.main-menu-banner-buttons
    display: flex
    max-width: 480px
    justify-content: space-between
    margin-top: 20px

.modal-contact-form
    width: 100%
    max-width: 648px
    padding: 50px

.modal-title
    font-size: 38px
    padding-bottom: 30px
    font-family: '20Kopeek-Book', sans-serif

.modal-form-wrapper
    position: relative

    & label
        display: block
        width: 100%

.text-input
    display: block
    width: 100%
    height: 71px
    border: 1px solid #181818
    box-sizing: border-box
    border-radius: 10px
    padding-left: 25px
    color: $text

body label.check-box-label
    margin-top: 20px
    display: block
    align-items: center
    padding-left: 25px
    position: relative


.checkbox-input
    width: 18px
    min-width: 18px
    height: 18px
    display: block
    margin-right: 10px
    position: absolute
    left: 0

.form-button
    width: 228px
    height: 71px
    background: #2B59C3
    border-radius: 40px
    color: #ffffff
    display: flex
    border: 0
    align-items: center
    justify-content: center
    cursor: pointer
    &:focus
        outline: none
    &:hover
        text-decoration: none
        color: #ffffff

.about-style-section
    padding: 100px 0 150px 0

.h2
    font-size: 38px
    font-family: '20Kopeek-Book', sans-serif
    line-height: 1.1
    padding-bottom: 15px

.h1
    font-size: 55px
    font-family: '20Kopeek-Book', sans-serif
    line-height: 1

.about-style-image
    width: 100%
    max-width: 735px

.consist-section
    padding-bottom: 100px

.consist-row
    padding-top: 80px
    display: flex
    align-items: flex-start
    justify-content: space-between
    flex-wrap: wrap

.cost-section
    padding-bottom: 100px

.consist-title
    font-size: 45px
    font-family: '20Kopeek-Book', sans-serif
    position: absolute
    top: -25px

.consist-description
    padding-left: 40px
    font-size: 16px
.md-wrapper
    max-width: 390px
.consist-card
    position: relative
    width: 160px
    margin-bottom: 30px
.consist-card.big
    width: 262px
.consist-description-full
    font-size: 14px
    padding-left: 40px
    padding-top: 15px

.consist-card-big
    width: 300px
    position: relative
.consist-description-title
    font-size: 26px
    margin-bottom: 15px
.cost-p
    padding-right: 60px
.consist-description-text
    font-size: 15px
.blue-button
    color: #ffffff
    background: $accent
    display: block
    padding: 10px
    border-radius: 5px
    max-width: 406px

    &:hover
        color: #ffffff
        text-decoration: none
.briff-section
    margin-top: 80px
.cost-img
    width: 100%
    display: block
    max-width: 734px
.portfolio-card a
    overflow: hidden
    height: 228px
    width: 100%
    display: block
.portfolio-card-thumb
    width: 100%
    margin: 0 auto
    height: 228px
    display: block
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    transition: all ease-in .5s
    overflow: hidden
    &:hover
        transform: scale(1.2)
        transition: all ease-in-out .5s
.gallery-img
    display: block
    width: 100%
    margin: 10px auto
.gallery-img.height-prew
    height: 228px
.portfolio-card
    padding-bottom: 100px
.portfolio-card.small
    padding-bottom: 20px
.portfolio-row-margin
    margin-top: 20px
.portfolio-card-row
    margin-top: 40px
    display: flex
.portfolio-card-row.small
    margin-top: 20px

.portfolio-card-title
    font-size: 55px
.portfolio-card-title.small
    font-size: 26px
.portfolio-card-description.small
    font-size: 16px
.gallery-button
    border: 1px solid #181818
    box-sizing: border-box
    border-radius: 40px
    width: 231px
    display: flex
    align-items: center
    justify-content: center
    height: 71px
    color: #181818
    margin-left: 80px

    &:hover
        color: #181818
        text-decoration: none
.logo-description.dark
    color: #000
.dark
    color: #000
.parallax-window
    position: relative
.show-more-button
    width: 250px
    height: 75px
    display: flex
    align-items: center
    justify-content: center
    border-radius: 40px
    background: $accent
    color: #ffffff
    margin: 10px auto
    cursor: pointer

    &:hover
        color: #ffffff
        text-decoration: none

.portfolio-section
    font-size: 26px
    font-family: '20Kopeek-Book', sans-serif

.loadmore-area
    display: none

.guideline-section
    padding: 100px 0 70px 0

.guideline-img
    display: block
    width: 100%
    max-width: 735px

.blue-area
    background: $accent
    padding: 10px 10px 5px 10px
    border-radius: 5px
    margin-bottom: 15px

    & .h3
        color: #ffffff
        font-family: '20Kopeek-Book', sans-serif
        font-size: 26px
        line-height: 1.4
        padding-bottom: 10px

    & p
        color: #ffffff
        line-height: 1.4
.form-title-big
    font-size: 55px
    font-family: '20Kopeek-Book', sans-serif
    margin-bottom: 60px
    line-height: 1
.form-subtitle
    font-size: 26px
    font-family: '20Kopeek-Book', sans-serif

.form-row
    margin-top: 24px

    & label
        display: block
        width: 100%

.steps-section
    padding-top: 100px

.steps-row
    margin-top: 60px

.steps-card-header
    position: relative

.steps-card-header-title
    font-family: '20Kopeek-Book', sans-serif
    font-size: 45px
    margin-bottom: 20px
.steps-presentation .steps-card-header-title img
    position: relative
    top: -45px
.steps-card-header-description
    font-size: 26px
    font-family: '20Kopeek-Book', sans-serif
    line-height: 1.1
.first-row-steps
    margin-top: 100px

.steps-card
    width: 100%
    max-width: 170px

.steps-card-description
    font-size: 15px

.steps-card-title
    padding-bottom: 15px
    position: relative
.arrow-line:after
    background: url("../img/arr.svg") no-repeat
    height: 8px
    width: 38px
    display: block
    content: ''
    position: absolute
    right: 0
    top: 10px



.mobile-show-button
    display: none


.comparison-section
    padding-top: 100px
.portfolio-section.padded
    margin-top: 80px

.left-table-title
    background: $accent
    font-family: '20Kopeek-Book', sans-serif
    padding: 15px
    font-size: 21px
    color: #ffffff
    font-weight: 300
    vertical-align: top

.border-radius-top
    border-top-right-radius: 10px
    border-top-left-radius: 10px

.border-radius-bottom
    border-bottom-right-radius: 10px
    border-bottom-left-radius: 10px

.table-comparison
    width: 100%

    & td
        font-size: 15px
        padding: 25px
        vertical-align: top

    & tr
        border-bottom: 1px solid #2b59c382

        &:last-child
            border: 0

.table-header-title
    font-size: 36px
    font-family: '20Kopeek-Book', sans-serif
    padding: 0 30px
    color: #868686


.middle-column
    border-left: 4px solid $accent
    border-right: 4px solid $accent

.table-header-title.middle-column-top
    color: #2B59C3


.middle-column-top
    border-left: 4px solid $accent
    border-right: 4px solid $accent
    border-top: 4px solid $accent

.middle-column-bottom
    border-left: 4px solid $accent
    border-right: 4px solid $accent
    border-bottom: 4px solid $accent

.desktop-hidden-row
    display: none

.desktop-hidden
    display: none

.comparison-mobile-title
    background: $accent
    font-size: 20px
    padding: 5px 15px
    border-radius: 5px
    font-family: '20Kopeek-Book', sans-serif
    color: #ffffff
    margin-bottom: 15px

.border-bottom-row
    padding: 0 0 15px 0

.comparison-mobile-subtitle
    font-size: 32px
    color: #868686
    font-family: '20Kopeek-Book', sans-serif
    padding-left: 20px

.border-bottom
    border-bottom: 0.5px solid #868686
    width: 95%
    margin: 15px auto 0

.comparison-mobile-description
    font-size: 15px

.accent-color
    color: $accent

.comparison-mobile-item
    margin-top: 20px

.fancybox-caption__body
    max-height: 50vh
    overflow: auto
    pointer-events: all
    text-align: left
    max-width: 940px
    margin: 0 auto
    font-size: 16px

.guarantee-section
    margin: 100px 0
    min-height: 957px
.h2.white
    color: #ffffff

.h1.white
    color: #ffffff

.guarantee-wrapper
    padding-top: 300px

.guarantee-card
    color: #ffffff
    width: 192px
    position: relative
    margin-bottom: 40px

.guarantee-card-title
    font-family: '20Kopeek-Book', sans-serif
    font-size: 55px
    position: absolute
    left: 0
    top: -20px

.guarantee-card-description
    font-size: 15px
    line-height: 19px
    padding-left: 45px

.guarantee-row
    margin-top: 60px
    display: flex
    align-items: flex-start
    justify-content: space-between
    flex-wrap: wrap

.contact-form-label
    max-width: 445px

.contact-area
    margin-top: 20px

.contact-area a
    display: block
    font-size: 26px
    color: $text
    margin-bottom: 15px
    font-family: '20Kopeek-Book', sans-serif

.our-smi-section
    margin-top: 60px
    margin-bottom: 30px


.our-smi-card
    background: $accent
    border-radius: 10px
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 15px
    margin: 15px 15px
    color: #ffffff
    width: 255px
    font-size: 16px

    &:hover
        color: #ffffff
        text-decoration: none

.smi-subtitle
    display: block
    font-size: 15px
    padding-top: 20px

.privacy-title a
    font-size: 38px
    text-decoration: underline
    color: $text
    padding-top: 90px
    display: block
    font-family: '20Kopeek-Book', sans-serif
    padding-bottom: 90px
.copy
    padding-top: 90px
.mobile-show
    display: none !important


.main-header-slide.slide-1
    background-image: url('../img/1.jpg')
.main-header-slide.slide-2
    background-image: url('../img/2.jpg')
.main-header-slide.slide-3
    background-image: url('../img/3.jpg')


.main-header-slide.slide-4
    background-image: url('../img/suvenir-img/1.jpg')
.main-header-slide.slide-5
    background-image: url('../img/suvenir-img/2.jpg')
.main-header-slide.slide-6
    background-image: url('../img/suvenir-img/3.jpg')

.main-header-slide.slide-7
    background-image: url('../img/presentation-img/1.jpg')
.main-header-slide.slide-8
    background-image: url('../img/presentation-img/2.jpg')
.main-header-slide.slide-9
    background-image: url('../img/presentation-img/3.jpg')

.main-header-slide.slide-10
    background-image: url('../img/merch-img/1.jpg')
.main-header-slide.slide-11
    background-image: url('../img/merch-img/2.jpg')
.main-header-slide.slide-12
    background-image: url('../img/merch-img/3.jpg')


.main-menu-banner-description-white
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.15)
    font-size: 55px
    line-height: 1
    color: #ffffff
    margin-bottom: 0
    font-family: '20Kopeek-Book',sans-serif
.main-menu-banner-description-index
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.15)
    font-size: 66px
    line-height: 1
    max-width: 860px
    color: #E5E5E5
    margin-bottom: 0
    font-family: '20Kopeek-Book',sans-serif

.margin-top-25
    margin-top: 25px
.about-style-blue-area
    font-size: 26px
    color: #ffffff
    font-family: '20Kopeek-Book', sans-serif
.how-start-choose-section
    margin-bottom: 120px
.how-choose-row
    margin-top: 60px
.how-choose-title
    font-size: 38px
    line-height: 1.1
    position: relative
    padding-left: 45px
    font-family: '20Kopeek-Book',sans-serif
    margin-left: 10px
    & span
        font-size: 55px
        display: block
        position: absolute
        left: 0
        top: -15px
.how-choose-card
    padding-left: 90px
    position: relative
    margin-top: 50px
    width: 100%
    & img
        position: absolute
        left: 0
        top: 0
.how-choose-card-title
    font-size: 26px
    padding-bottom: 10px
    font-family: '20Kopeek-Book', sans-serif
.how-choose-marged-row
    margin-left: 0px
.consist-description-title.font-size-18
    font-size: 18px
.our-tem-section
    margin-top: 100px
.our-team-row
    margin-top: 25px
.our-team-row-title
    font-size: 26px
    margin-bottom: 25px
    line-height: 1.1
    font-family: '20Kopeek-Book',sans-serif
.our-team-descriptor-row
    margin-top: 100px
.our-team-descriptor-text
    font-size: 26px
    line-height: 1.1
    font-family: '20Kopeek-Book', sans-serif
.our-team-descriptor-signa
    margin-top: 160px
    max-width: 260px
.our-team-descriptor-img
    width: 100%
    max-width: 634px
.our-team-designers-row
    margin-top: 100px
.designers-card
    background: #2B59C3
    border-radius: 5px
    color: #ffffff

    position: relative
.designers-card-img
    position: absolute
    bottom: 0

.designers-card-title
    font-size: 38px
    margin-bottom: 20px
.first-designer-card
    padding: 15px 165px 15px 15px
    max-width: 505px
    width: 100%
    & img
        right: -80px
        width: 100%
        max-width: 256px
.second-designer-card
    padding: 15px 83px 15px 15px
    max-width: 445px
    width: 100%
    margin-left: 20px
    & img
        right: -115px
        width: 100%
        max-width: 261px
.third-designer-card
    padding: 15px 103px 15px 15px
    max-width: 820px
    width: 100%
    margin: 0 0 40px 60px
    & img
        right: -115px
        width: 100%
        max-width: 261px

.our-partners-section
    margin-top: 100px
.our-partners-title
    font-size: 34px
    font-weight: 400
    margin-bottom: 40px
.our-partners-area
    display: flex
    flex-wrap: wrap
    align-items: flex-end
    justify-content: center
    & img
        display: block
        margin: 15px
.our-team-img
    display: block
    width: 100%
    max-width: 652px
.showreel-img
    display: block
    width: 100%
    max-width: 1120px
.video-wrapper
    background: url("../img/zaglushka.jpg")no-repeat center center / cover
    z-index: 99
    cursor: pointer

.bradcrumbs
    padding-top: 140px
    & a
        display: block
        font-style: normal
        font-weight: normal
        font-size: 20px
        line-height: 30px
        color: #868686
        & img
            margin-right: 10px
.thank-section
    margin-top: 80px
.thank-img
    width: 100%
    display: block
    max-width: 660px
    margin: 10px auto
.thank-row
    margin-top: 40px
.gray-link
    font-weight: normal
    font-size: 18px !important
    line-height: 30px
    color: #868686
.how-work-scroll-section
    padding: 40px 0
.how-work-scroll-description
    margin-top: 50px
.scroll-second-row
    margin-top: 100px
    padding-bottom: 90px

.scrolled-img.part-1.tn_active
    position: fixed
    top: 420px
    z-index: 999
.scrolled-img.part-2
    position: relative
    z-index: 1

.steps-card-extra-title
    font-family: '20Kopeek-Book',sans-serif
    font-style: normal
    font-weight: normal
    font-size: 38px
    position: absolute
    top: -60px
.steps-card-header-title img
    display: block
    width: 100%
    max-width: 100px
.steps-card-header-title.max-350 img
    display: block
    width: 100%
    max-width: 350px
.wow-section
    padding: 100px 0 40px 0
.wow-section-p
    padding-top: 50px
.wow-compose-img
    display: block
    width: 100%
    max-width: 550px
.hidden-area-image
    display: none


.back_to_top
    position: fixed
    bottom: 80px
    right: 40px
    z-index: 9999
    width: 30px
    height: 30px
    text-align: center
    line-height: 30px
    background: #f5f5f5
    color: #444
    cursor: pointer
    border-radius: 2px
    display: none
.back_to_top:hover
    background: #e9ebec
.back_to_top-show
    display: block
.about-merchant-section
    padding-top: 100px
    padding-bottom: 150px
.about-merchant-row
    margin-top: 40px
.about-merchant-description
    max-width: 763px
    width: 100%
    background: $accent
    border-radius: 5px
    padding: 15px
    position: relative
    margin-left: 10px

    & p
        max-width: 470px
        color: #ffffff
        font-weight: 400
        font-size: 26px
        line-height: 140%
        font-family: '20Kopeek-Book',sans-serif
.about-merchant-image

    width: 100%
    max-width: 682px
    position: absolute
    z-index: 2
    top: -80px
    display: none
    right: -40px
.about-merchant-row
    position: relative
.about-merchant-subtitle
    font-size: 18px
    line-height: 140%
    max-width: 414px
    padding: 15px 25px
.why-need-merch-section
    margin-bottom: 100px
    margin-top: 100px
.why-need-subtitle
    max-width: 660px
    font-size: 36px
    margin-top: 30px
    font-weight: normal
    line-height: 110%
.why-need-row
    margin-top: 80px


.why-need-card
    max-width: 455px
    width: 100%
    display: flex
.why-need-card-image
    margin-right: 30px
    display: block
    width: 60px
    height: 80px
    object-fit: contain
.why-need-card-title-text
    font-weight: normal
    font-size: 26px
    color: $accent
    font-family: '20Kopeek-Book',sans-serif
.why-need-card-title-row
    display: flex
    margin-top: 35px

.why-need-card-title-bottom.margin-right
    margin-right: 30px
.why-need-card-title-bottom
    font-size: 15px
    min-width: 160px
    & span
        display: block
        color: $accent
        font-size: 18px
        padding-bottom: 3px
.why-need-card.right-card
    max-width: 635px
.why-need-row
    display: flex

.consist-description.small
    width: 190px
.merchant-slider-section
    margin-top: 100px
.merchant-slider-item-left-side
    width: 100%
    background: $accent
    padding: 20px 15px
    height: 100%
.merchant-slider
    margin-top: 50px
.merchant-slider-image
    display: block
    width: 100%
    object-fit: cover
    height: 500px
.accent-background
    background: $accent
.merchant-slider-item-left-side
    color: #ffffff
    position: relative
    font-size: 26px
    font-weight: 400
    display: flex
    flex-direction: column
    justify-content: space-between
.merchant-slider-item-signature
    font-size: 38px
.prev-merch
    display: block
    cursor: pointer
    margin-right: 15px
.next-merch
    display: block
    cursor: pointer
.merch-slider-navigator
    position: absolute
    z-index: 9
    display: flex
    bottom: 20px
    left: 270px
.merchant-product-section
    margin-bottom: 100px
.merchant-product-row
    margin-top: 10px
#showMoreButton4
    display: none

.merchant-product-card
    display: flex
    align-items: center
    justify-content: center
    position: relative
    max-width: 255px
    width: 100%
    height: 180px
    transition: all ease-in .2s
    & img
        display: block
        width: 100%
        height: 100%
        object-fit: cover
        position: relative
        z-index: 1
    &:after
        content: ''
        background: rgba(0,0,0,0)
        width: 100%
        height: 100%
        position: absolute
        display: block
        top: 0
        left: 0
        transition: all ease-in .2s
        z-index: 2
    &:hover:after
        background: rgba(0,0,0,.6)
    & span
        position: absolute
        display: flex
        align-items: center
        justify-content: center
        font-size: 18px
        width: 168px
        height: 60px
        background: #FFFFFF
        color: #000
        border-radius: 40px
        z-index: 99
        visibility: hidden
        opacity: 0
        transition: all ease-in .2s
    &:hover span
        visibility: visible
        opacity: 1
        transition: all ease-in .2s
.merchant-product-card-name
    padding-top: 20px
    font-size: 22px
    font-family: '20Kopeek-Book',sans-serif
.merchant-product-wrapper
    max-width: 255px
    width: 100%
    margin: 30px auto 0


.merchant-product-card-button
    position: absolute
.faq-section
    margin-bottom: 100px
    margin-top: 100px
.faq-accordion
    margin-top: 20px
.faq-title
    font-size: 21px
    padding-bottom: 15px
    position: relative
    display: flex
    align-items: center
    font-family: '20Kopeek-Book',sans-serif

.faq-item
    cursor: pointer
    margin-bottom: 20px
    max-width: 630px
.faq-data
    font-size: 15px
.faq-title:after
    content: ''
    display: block
    border-radius: 4px
    transform: rotate(0deg)
    width: 0
    height: 0
    border-left: 6px solid transparent
    border-right: 6px solid transparent
    border-top: 8px solid #181818
    margin-left: 10px
    transition: all ease-in .2s
.faq-item.active .faq-title:after
    transform: rotate(-180deg)
    transition: all ease-in .2s
.news-section
    padding-top: 160px
.news-title
    font-style: normal
    font-weight: normal
    font-size: 38px
    line-height: 110%
    letter-spacing: -0.02em
    color: #181818
    padding-bottom: 20px
    font-family: '20Kopeek-Book',sans-serif
.news-card
    background: #E5E5E5
    padding: 18px
    border-radius: 5px
    margin-bottom: 60px
.news-card-row
    margin-top: 40px
.news-card-description
    font-size: 26px
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 100%
    font-family: '20Kopeek-Book',sans-serif
.news-card-image
    display: block
    width: 100%
    height: 100%
    object-fit: cover
    max-width: 634px
.news-card-title
    font-size: 55px
    font-style: normal
    font-weight: normal
    line-height: 100%
    color: #181818
    font-family: '20Kopeek-Book',sans-serif
.news-card-button
    font-size: 18px
    line-height: 140%
    width: 183px
    height: 71px
    margin-top: 30px
.news-card-link
    font-size: 26px
    line-height: 110%
    color: #2B59C3
.news-page
    padding: 15px
    background: #E5E5E5
    border-radius: 5px
.news-page-header
    display: flex
    justify-content: space-between
    margin-bottom: 40px
.page-date, .page-link
    font-size: 18px
    color: #2B59C3
.page-subtitle
    font-size: 26px
    line-height: 110%
    color: #181818
    padding-top: 40px
    padding-bottom: 10px
    max-width: 840px
    font-weight: 400
.single-page-image
    display: block
    max-width: 1100px
    width: 100%
    margin: 20px auto
.news-page p
    max-width: 840px
    font-size: 18px
.page-image-title
    max-width: 840px
    font-size: 15px
    padding-bottom: 40px
.news-page-subtitle
    font-size: 38px
    line-height: 110%
    letter-spacing: -0.02em
    color: #2B59C3
    padding-bottom: 40px
    padding-top: 30px
    max-width: 840px
    font-family: '20Kopeek-Book',sans-serif
.page-blue-box
    font-family: '20Kopeek-Book',sans-serif
    font-weight: normal
    font-size: 26px
    line-height: 110%
    background: $accent
    padding: 15px
    max-width: 540px
    color: #ffffff
    margin: 40px 0
.page-footer
    display: flex
    justify-content: space-between
    padding: 40px 0
.page-author, .page-hashtag
    font-size: 18px
    color: #2B59C3
.img-magnifier-container
    position: absolute
    z-index: 99
    width: 574px
    right: 40px
    top: -80px
    height: 788px
.img-magnifier-glass
    position: absolute
    border: 3px solid $accent
    border-radius: 50%
    cursor: none
    width: 250px
    height: 250px
    opacity: 0
.form-section.padded
    padding-top: 80px
.img-magnifier-container:hover .img-magnifier-glass
    opacity: 1
.fade-slider-row
    margin-top: 50px
.fade-slider-card
    height: 515px
    display: flex
    justify-content: space-between
    flex-direction: column
    padding: 20px 15px
.slider-nav
    background: $accent
.fade-slider-card-text
    color: #ffffff
    line-height: 1.4
    font-size: 26px
.fade-slider-card-subtitle
    font-size: 38px
    color: #ffffff
.next-arrow-fade
    background: url("../img/left-m.png")no-repeat
    width: 160px
    height: 71px
    display: block
    cursor: pointer
.prev-arrow-fade
    background: url("../img/right-m.png")no-repeat
    width: 160px
    height: 71px
    display: block
    cursor: pointer
    margin-right: 15px
    margin-left: 15px

.fade-slider-navigation
    position: absolute
    z-index: 999
    display: flex
    bottom: 20px
    left: -80px

#myVideo
    position: absolute
    right: 0
    bottom: 0
    min-width: 100%
    min-height: 100%

.expertise-section
    padding: 60px 0 90px 0
    background: #f3f3f3
.expertise-subtitle
    font-size: 33px
    padding-bottom: 33px
.expertise-link
    font-size: 33px
    color: #181818
    transition: all ease-in .2s
    position: relative
    & span
        background: url("../img/arrow-rb.svg")no-repeat
        transition: all ease-in .2s
        fill: #000
        width: 17px
        height: 18px
        display: inline-block
        margin-left: 30px
    &:hover
        color: $accent
        transition: all ease-in .2s
        text-decoration: none
        & span
            background: url("../img/arrow-r.svg")no-repeat
            transition: all ease-in .2s
.expertise-item.active  .expertise-link
    color: $accent
    & span
        background: url("../img/arrow-r.svg")no-repeat
.expertise-item-description
    color: #000
    font-size: 20px
.expertise-item-trigger
    width: 20px
    height: 20px
    position: absolute
    bottom: 0
    right: 20px
    cursor: pointer
    & span
        transition: all ease-in .2s
    &:hover span
        background: $accent !important
        transition: all ease-in .2s
    & span:first-child
        display: block
        height: 20px
        width: 2px
        background: #000
        transition: all ease-in .2s
        position: absolute
        top: 0
        left: 50%
    & span:last-child
        display: block
        height: 20px
        width: 2px
        transform: rotate(90deg)
        background: #000
        transition: all ease-in .2s
        position: absolute
        top: 0
        left: 50%
.expertise-item.active .expertise-item-trigger span:first-child
        transform: rotate(-90deg)
.expertise-title
    padding: 28px 0
.expertise-visuals-card
    display: block
    width: 140px
    height: 140px
    border-radius: 10px
    margin: 10px
.visuals-card-thumb
    display: block
    width: 100%
    height: 140px
    border-radius: 10px
    background-size: cover
.expertise-visuals-row
    display: flex
    align-items: center
    flex-wrap: wrap
    justify-content: space-between
.expertise-gallery-description
    color: $accent
    font-style: normal
    font-weight: normal
    font-size: 33px
    line-height: 1.1
    font-family: '20Kopeek',sans-serif
    padding: 33px 0 60px 180px
    max-width: 1062px
.expertise-item-description-mobile
    display: none
.expertise-item-trigger.mobile
    display: none
.main-page-body-color
    background: #f3f3f3
.target-video
    width: 100%
    display: block
    max-width: 860px
    margin: 5px auto
    border-radius: 5px
.target-section
    padding-bottom: 90px
.target-title
    font-size: 33px
    line-height: 1.1
    padding-bottom: 30px
.target-description
    font-size: 20px
    max-width: 420px
.container-target
    width: 100%
    max-width: 1380px
    margin: 0 auto
    padding-right: 15px
    padding-left: 15px
.know-section
    padding: 100px 0 45px 0
    background: #2B59C3
    border-radius: 5px
.know-title
    line-height: 1
    font-style: normal
    font-weight: normal
    font-size: 66px
    color: #FFFFFF
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)

.know-item
    display: flex
    align-items: center
    margin-bottom: 55px
    & img
        margin-right: 30px
.know-item-description
    font-size: 33px
    line-height: 1
    color: #FFFFFF
    font-family: '20Kopeek-Book',sans-serif
.know-row
    padding-top: 70px
    padding-left: 70px
    & p
        font-size: 20px
        color: #FFFFFF
        margin-bottom: 25px
.showreel-section
    padding: 100px 0
    background: #c53238
    border-radius: 5px
.show-case-button
    position: absolute
    z-index: 222
    color: #FFFFFF
    top: 50%
    left: 50%
    width: 320px
    display: flex
    text-align: center
    justify-content: center
    align-items: center
    height: 60px
    margin-top: -30px
    margin-left: -160px
    border: 1px solid #FFFFFF
    box-sizing: border-box
    border-radius: 15px
    opacity: 0
    transition: all ease-in-out .5s
.favorit-row .favorit-card-thumb
    width: 100%
    height: 524px
    display: block
    background-size: cover !important
    background-repeat: no-repeat !important
    background-position: center center !important
    transition: all ease-in .5s
    overflow: hidden
    &:hover
        transform: scale(1.2)
        transition: all ease-in-out .5s
        background: rgba(24, 24, 24, 0.7)
        & .show-case-button
            transition: all ease-in-out .5s
            opacity: 1
    &:after
        transition: all ease-in .3s
        content: ''
        width: 100%
        position: absolute
        height: 100%
        top: 0
        left: 0
        bottom: 0
        right: 0
        background: rgba(24, 24, 24, 0)
    &:hover:after
        transition: all ease-in .3s
        background: rgba(24, 24, 24, 0.7)
.favorit-card
    overflow: hidden
    display: block
    width: 100%
    height: 524px
    position: relative
    transition: all ease-in .3s
.favorit-section
    padding-top: 160px
.main-page-title
    font-style: normal
    font-weight: normal
    font-size: 66px
    color: #000000
    line-height: 1.1
    & span
        color: $accent
.favorit-row
    padding-top: 50px
    & .slick-slide
        padding: 0
.favorit-row .slick-active .favorit-card-thumb:after
    transition: all ease-in 1s
    background: rgba(24, 24, 24, 0.7)

.favorit-row .slick-active .show-case-button
    opacity: 1
    transition: all ease-in 1.2s
.favorit-slider .slick-list
    padding: 0 25% 0 0

.position-relative
    position: relative
.margin-auto
    margin: 20px auto 0
    display: block
.our-tem-main-section
    padding: 140px 0
.hover-accordion
    display: flex
    flex-direction: row
    width: 100%
    height: 639px
.hover-accordion-item
    flex: 1
    height: 100%
    background-position: center top
    background-size: cover
    background-repeat: no-repeat
    transition: flex 0.8s ease
.hover-accordion-item:hover
    flex: 7
.details-card
    width: 100%
    max-width: 361px
.details-row
    padding-top: 75px
.details-card-title
    font-size: 33px
    padding-bottom: 35px
.details-card-description
    font-size: 20px
.leaders-section
    padding: 80px 0 145px 0
.leaders-row
    margin-top: 90px
.main-logos-section
    background: #000000
    border-radius: 5px
    padding: 60px 0
.main-logos-p
    color: #FFFFFF
    font-size: 33px
    padding-bottom: 30px
.main-logos-area-head
    background: url("../img/white-logo/desctop-1.png")no-repeat center center / contain
    height: 197px
    width: 100%
.main-logos-area-footer
    background: url("../img/white-logo/desctop-2.png")no-repeat center center / contain
    width: 100%
    display:  block
    height: 0
    transition: all ease-in .4s
.main-logos-area-footer.show-area
    display: block
    height: 311px
    transition: all ease-in .4s
.main-logos-area
    padding-top: 70px
.logos-area-trigger
    display: block
    background: url("../img/white-logo/arrow-down.svg")no-repeat
    width: 40px
    height: 15px
    cursor: pointer
    margin: 20px auto
    transition: all ease-in .4s
.logos-area-trigger.rotate
    transform: rotate(180deg)
    transition: all ease-in .4s
.contact-section-main
    padding-top: 100px
    & .text-input
        background: transparent
        border: 1px solid #181818
        box-sizing: border-box
        border-radius: 10px
        height: 60px
    &  a
        font-family: '20Kopeek', sans-serif
    & .checkbox-description a

        color: #868686
    & .checkbox-input
        background: transparent
    & .h2
        font-family: '20Kopeek', sans-serif
.main-social-area
    margin-top: 20px
    & a
        display: block
        font-size: 20px
        color: #868686
.portfolio-page-section
    padding: 200px 0 160px 0
.filter-div ul
    padding: 0
    margin: 0
    display: flex
    align-items: center
    justify-content: flex-start
    flex-wrap: wrap
    & li
        font-size: 20px
        color: #868686
        display: block
        list-style-type: none
        margin-right: 60px
        cursor: pointer
        transition: all ease-in .2s
        &:hover
            color: $accent
            transition: all ease-in .2s
.filter.mixitup-control-active
    color: $accent
.mix-item img
        width: 100%
        display: block
        height: 800px
        object-fit: cover
.filter-div
    padding-bottom: 20px
.padded-informer
    padding-bottom: 17px
.page-navigation a
    display: flex
    align-items: center
    justify-content: space-between
    max-width: 150px
    margin: 60px auto 0
    font-size: 20px
    color: #868686








@import "media"